*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
 
:root{
    --primrayColor:#19213D;
    --primrayfont:inter;
 }
 body{
    font-family: var(--primrayfont);
 }

 h1,h2,h3,h4,h5,h6{
    font-family: "EB Garamond", serif;
 }
.header{
    
    padding: 21.84px 0px; 
    position: fixed;
    width: 100%;
    background-color: #fff;

}
.menu{
    display: none;
    
}

.contanier{
    width:calc( 100% - 20% );
    margin: 0 auto;

}

.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.list ul{
    list-style-type: none;
    display: flex;
    gap:60px;
  
}



.icons ul{
    list-style-type: none;
    display: flex;
  
    gap:24px;
}
.icons a{
    cursor: pointer;
}

.header a{
    text-decoration: none;
    font-family: "Inter", sans-serif;
    color:var(--primrayColor);  
    font-family:var(--primrayfont);  
}
@media screen and  (min-width: 0) and (max-width: 996px) {
    .list {
        display: none;
    }

    .icons {
        display: none;
    }
    .menu{
        display: flex;
    }

    .menu img{
    width: 50px;
} 
}
.hero{

    background-image: url('./../img/flat-lay-composition-different-sized-plates\ 1.png') ;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-shrink: 0;
    background-attachment: fixed;

}
    

.collection-section{

    padding-top: 40px;
    padding-bottom: 40px;
    
}
.collection{
    width: calc((100% - 90px)/4);
    text-align: center;
       
}

img{
    width: 100%;
}

h2{
    margin-top: 23px;
    text-transform: uppercase;
}

@media screen and  (min-width: 0) and (max-width: 400px)
{
    
 .collection-section .row {
        flex-direction: column;
    }
    .collection{
        width: 100%;
    }
}
@media screen and  (min-width: 401px) and (max-width: 770px){

    .collection{
    width:calc((100% - 30px)/2);
    
       
}

}

@media screen and  (min-width: 771px) and (max-width: 900px){
   .collection{
    width:calc( ( 100% - 60px ) /3 );
    
       
}
    
}
.cards-content{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    justify-content: center;
     background-color: #F7F6F5;
}
.card-item{
    text-align: center;
}
.card-item h2{
    font-size: 28px;
    font-weight: 700;
    font-style: bold;
    line-height: 28px;
    letter-spacing: 4%;
    margin: 64px 78.5px 24px 78.5px;
}
.card-item p{
    color:#595667;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin:0 83px 32px 83px ;
}
.card-item .shop-now{
    padding: 15px 18px;
    text-decoration: underline;
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    border: 0;
    margin-bottom:64px;

}


@media screen and  (min-width: 0) and (max-width: 400px){
    .cards-content{
    
    grid-template-columns: repeat(1,1fr);
    
}
.card-item h2{
    
    
    margin: 50px 16px 16px 24px;
}
.card-item p{
    
    margin:0 20.5px 32px 20.5px;
}
.card-item .shop-now{
    padding: 15px 18px;
    margin-bottom: 50px;
}
}

@media screen and  (min-width: 401px) and (max-width: 700px){

    .cards-content{
    
    grid-template-columns: repeat(1,1fr);
    
}
}

@media screen and  (min-width: 701px) and (max-width: 950px) {

    .cards-content{
    
    grid-template-columns: repeat(1,1fr);

}
}

@media screen and  (min-width:951px) and (max-width: 1500px)
{

    .cards-content{
         grid-template-columns: repeat(2,1fr);

    }
  
} 




.best_sellers{
    text-align: center;
    padding: 80px 0;

}
.best_sellers .row{
    gap:30px;
}

.best_sellers .items{
    text-align: left;
     /*width: calc(( 100% - 90px )/4);*/
     width: 250px;
     flex-grow: 1;
     
}

.best_sellers .item-content{
    margin-top:24px ;
   
}


.best_sellers h2{
    
font-weight: 700;
font-style: bold;
font-size: 30px;
text-transform: uppercase;
letter-spacing: 3px;
margin-bottom: 24px;
}

.best_sellers h3{
    
font-weight:500;
font-size: 14px;
text-transform: uppercase;
letter-spacing: 2px;
margin-top: 12px;
}

.best_sellers .price{
font-weight: 500;
font-size: 20px;
}

.best_sellers .descrption{
    color:#908ca8;
    width: 80%;
    line-height: 22px;
    margin-top: 24px;
    margin-bottom: 38px;
}

.best_sellers .add_to_cart{
    padding: 15px 81px;
    background-color: #fff;
    border: 1px solid #000;
    letter-spacing: 3px;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    width: 100%;
}




@media screen and  (min-width: 0) and (max-width: 400px) {
    
     .best_sellers .add_to_cart{
    padding: 15px 18px;
     font-size: 12px;
     letter-spacing: 1px;

    
    }

}

@media screen and  (min-width: 401px) and (max-width: 700px) {


.best_sellers .add_to_cart{
    padding: 14px 40px;
      font-size: 10px;
    }

.best_sellers h3{
    
font-weight:500;
font-size: 14px;
letter-spacing: 2px;

}

.best_sellers .price{

font-size: 14px;
}

.best_sellers .descrption{
    
    font-size: 14px;
}

}

@media screen and  (min-width: 701px) and (max-width: 950px) {

    
    
    .best_sellers .add_to_cart{
    padding: 14px 40px;
    }

}

 