*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
 
:root{
    --primrayColor:#19213D;
 }
.header{
    
    padding: 21.84px 0px; 

}
.menu{
    display: none;
    
}



.contanier{
    width:calc( 100% - 20% );
    margin: 0 auto;

}


.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.list ul{
    list-style-type: none;
    display: flex;
    gap:60px;
  
}



.icons ul{
    list-style-type: none;
    display: flex;
  
    gap:24px;
}

a{
    text-decoration: none;
    font-family: "Inter", sans-serif;
    color:var(--primrayColor);    
}
@media screen and  (min-width: 0) and (max-width: 996px) {
    .list {
        display: none;
    }

    .icons {
        display: none;
    }
    .menu{
        display: flex;
    }

    .menu img{
    width: 50px;
} 
}
    

.collection-section{

    padding-top: 40px;
    padding-bottom: 40px;
    
}
.collection{
    width: calc((100% - 90px)/4);
    text-align: center;
       
}
img{
    width: 100%;
}

h2{
    margin-top: 23px;
    text-transform: uppercase;
}

@media screen and  (min-width: 0) and (max-width: 400px)
{
    
 .collection-section .row {
        flex-direction: column;
    }
    .collection{
        width: 100%;
    }
}
@media screen and  (min-width: 401px) and (max-width: 770px){

    .collection{
    width:calc((100% - 30px)/2);
    
       
}

}

@media screen and  (min-width: 771px) and (max-width: 900px){
   .collection{
    width:calc((100% - 60px)/3);
    
       
}
    
}